p{
    text-align: justify;
    text-justify: inter-word;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

h1 {
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
}

h2{
    text-align: center;
}

h3 {
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

h4 {
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    text-align: right;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}


a:visited {
    color: black;
    text-decoration: none;
}




.my-nav{
    position: fixed;
    width: 100%;
    z-index: 999;
    background: none;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    /*font-weight: bold;*/
}

.name_photograph {
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
}

.my-carousel{
    background-attachment: fixed;
}

.my-nav .navbar-nav a{
    color: white !important;
}
.navbar-brand {
    color: white !important;
}

.my-nav:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}


#footer{
    background-color: black;
    width: 100%;
    color: white;
    font-family: "Poiret One", sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}


.txt_copyright{
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: white;
}

.name_footer{
    font-family: "Poiret One", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.date {
    text-align: right;
}

/*
#AboutMe{
    height: 100vh;
}*/

.content_aboutme {
    padding-top: 60px;
    padding-bottom: 20px;
}

.img_photograph {

}

.hr_homepage{
    height: 1px;
    background-color: black;
    border: none;
    width: 100%;
}

#contact {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 15px;
}


#project {
    padding-top: 80px;
}
#portfolio{
    padding-top: 80px;
}
.margin_article {
    margin-top: 5vmin;
}

.img_project {
    width: 100%;
}

/*Portfolio pills*/

.portfolio-nav > li > a {
    font-size: 20px;
    color: #000000 !important;
    font-family: "Source Sans Pro", sans-serif !important;
    text-transform: uppercase;
}

.portfolio-nav > li > a:hover {
    box-shadow: inset 0 0 0 white, inset 0 -3px 0 #000000;
}
.active {
    background: lightgray !important;
    box-shadow: inset 0 0 0 white, inset 0 -3px 0 #000000;
}
.portfolioProject1{
    width: 100%;
    height: 50px;
}

.img-gal {
    height: 300px;
    width: 400px;
    padding: 30px 30px 20px;
}

